
<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Common</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	href="../../static/images/icons/favicon.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/slick/slick.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../static/css/util.css">
<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	<div th:replace="/menu :: header"></div>
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i
							class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i
							class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>

					<div
						class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i
							class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>

				</div>
				<div
					class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4" th:if="${session.userId != null}">

					<a th:href="@{/common/create}" style="color: black">Create</a>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04"
							id="search">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text"
							id="search-product" name="search-product" placeholder="Search"
							onkeyup="if(window.event.keyCode==13){ search_onclick_submit( this.value, 0) }">
					</div>
				</div>

				<script type="text/javascript">
					function search_onclick_submit(searchKey, flag) {
						
						var p = 1;
						
						if(searchKey == ''){
							searchKey = '[[${s.search}]]';
						}
						
						if(flag == 1){
							p =  [[ ${s.page} ]] + 1;
						} 
						
						var url = "/common/search?page="+p+"&searchKey="+searchKey;
						location.href = url;
					}
				</script>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div
						class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">Sort By</div>
							<!-- class 마지막에 filter-link-active 문자열 삽입 -->
							<ul>
								<li class="p-b-6"><a
									th:href="@{/common/sort(page=1, sortKey='regDate')}"
									class="filter-link stext-106 trans-04"> Newness </a></li>

								<li class="p-b-6"><a
									th:href="@{/common/sort(page=1, sortKey='startDate')}"
									class="filter-link stext-106 trans-04"> startDate </a></li>

								<li class="p-b-6"><a
									th:href="@{/common/sort(page=1, sortKey='endDate')}"
									class="filter-link stext-106 trans-04"> EndDate </a></li>

								<li class="p-b-6"><a
									th:href="@{/common/sort(page=1, sortKey='participants')}"
									class="filter-link stext-106 trans-04"> Join </a></li>

							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">Progress</div>

							<ul>
								<li class="p-b-6"><a
									th:href="@{/common/filter(page=1, filterKey='2')}"
									class="filter-link stext-106 trans-04"> Less Than </a></li>

								<li class="p-b-6"><a
									th:href="@{/common/filter(page=1, filterKey='3')}"
									class="filter-link stext-106 trans-04"> Over Than </a></li>

							</ul>
						</div>


						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">Status</div>

							<ul>
								<li class="p-b-6"><a
									th:href="@{/common/filter(page=1, filterKey='1')}"
									class="filter-link stext-106 trans-04"> Before </a></li>

								<li class="p-b-6"><a
									th:href="@{/common/filter(page=1, filterKey='0')}"
									class="filter-link stext-106 trans-04"> Ing </a></li>

								<li class="p-b-6"><a
									th:href="@{/common/filter(page=1, filterKey='5')}"
									class="filter-link stext-106 trans-04"> End </a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row isotope-grid">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women"
					th:if="${not #lists.isEmpty(commonList) && commonList != null }"
					th:each="common, index : ${commonList}">
					<!-- Block2 -->
					<div class="block2">

						<div class="block2-pic hov-img0">
							<img th:src="${common.product.image}" alt="IMG-PRODUCT">
							<a th:href="@{/common/read(commonId=${common.common.commonId})}"
								class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Quick View </a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a th:href="@{/common/read(commonId=${common.common.commonId})}"
									class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
									th:text="${common.product.productName}"> </a> <span
									class="stext-105 cl3" th:text="${common.product.price}">
								</span>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45"
				th:if="${total - (12 * s.page) > 0}" th:switch="${flag}">
				<span th:case="0"> <a
					th:href="@{/common/list(page=${s.page}+1)}"
					class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
						Load More </a>
				</span> <span th:case="1"> <a
					href="javascript:search_onclick_submit('', 1);"
					class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
						Load More </a>
				</span> <span th:case="2"> <a
					th:href="@{/common/sort(page=${s.page+1}, sortKey=${s.search})}"
					class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
						Load More </a>
				</span> <span th:case="3"> <a
					th:href="@{/common/list(page=${s.page}+1)}"
					class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
						Load More </a>
				</span>
			</div>
		</div>
	</div>


	<!--===============================================================================================-->
	<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../static/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/slick/slick.min.js"></script>
	<script src="../../static/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script
		src="../../static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate : 'a', // the selector for gallery item
				type : 'image',
				gallery : {
					enabled : true
				},
				mainClass : 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(
				function() {
					var nameProduct = $(this).parent().parent().find(
							'.js-name-b2').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-b2');
						$(this).off('click');
					});
				});

		$('.js-addwish-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent().find(
							'.js-name-detail').html();

					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-detail');
						$(this).off('click');
					});
				});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent()
							.parent().find('.js-name-detail').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to cart !", "success");
					});
				});
	</script>
	<!--===============================================================================================-->
	<script
		src="../../static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="../../static/js/main.js"></script>

</body>
</html>