
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
<title>Auc Detail</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	href="../../static/images/icons/favicon.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/slick/slick.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../../static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../static/css/util.css">
<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
<!--===============================================================================================-->
<style>
th, td {
	font-size: 20px;
	text-align: center;
	border-collapse: collapse;
	border: none;
	padding: 10px;
	margin: 10px;
	box-shadow: 1px 1px solid black;
}

.submit_btn {
	margin-top: 3%;
	background-color: #E2E2E2 !important;
	color: black !important;
}

.submit_btn:hover {
	border: 1px solid black !important;
}
</style>
</head>
<body>
	<div th:replace="/menu :: header"></div>
	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="slick3 gallery-lb">

								<div class="item-slick3">
									<div class="wrap-pic-w pos-relative">
										<img src="../../static/images/test.png" alt="IMG-PRODUCT"
											th:src="@{../{img}(img=${product.image})}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14"
							th:text="${product.productName}"></h4>

						<span class="mtext-106 cl2" th:text="|${auc.highestPrice} 원|">
						</span>

						<div class="block2-txt-child2 flex-r p-t-3"
							th:if="${session.userId != null}">
							<a
								th:href="@{/favorite/add(productId = ${product.productId}, typeId = ${auc.aucId}, type = '4')}"
								th:if="${fav == 0}"> <img
								class="icon-heart1 dis-block trans-04"
								src="../../static/images/icons/icon-heart-01.png" alt="ICON">

							</a> <a
								th:href="@{/favorite/delete(productId = ${product.productId})}"
								th:if="${fav == 1}"> <img
								class="icon-heart2 dis-block trans-04"
								src="../../static/images/icons/icon-heart-02.png" alt="ICON">
							</a>
						</div>

						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">Status</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<p style="margin: 1em;" align='center'
											th:switch="${auc.status}">
											<span th:case="1">경매대기</span> <span th:case="2">경매중</span> <span th:case="3">낙찰완료</span>
											<span th:case="4">경매종료</span>
										</p>
									</div>
								</div>
							</div>
						</div>


						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">Seller</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<p style="margin: 1em;" align='center'>
											<span th:text="${product.supplierId}">판매자없음</span>
										</p>
									</div>
								</div>
							</div>
						</div>

<!--	th:if="(${auc.status} == 2) and ${session.userId != null}"  -->
						<div th:if="${auc.status == 2} and ${session.userId != null}" class="flex-w flex-r-m p-b-10" style='padding-left: 20%; margin-top: 3%'>
							<div class="size-204 flex-w flex-m respon6-next">
								<a th:href='@{/auc/join/price(aucId=${auc.aucId})}'
									onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;"
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-pay-common"> Join</a>

							</div>
						</div>
						
						<!--  -->
						<div th:if="${auc.status == 3} and ${session.userId == auc.highestUserId}" class="flex-w flex-r-m p-b-10" style='padding-left: 20%; margin-top: 3%'>
							<div class="size-204 flex-w flex-m respon6-next">
								<a th:href='@{/order/create(type=3, productId=${product.productId})}'
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-pay-common">Pay</a>

							</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">

				<div class="tab01">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">Description</li>
					</ul>

					<div class="tab-content p-t-43">

						<div class="tab-pane fade show active" id="description"
							role="tabpanel">
							<div class="how-pos2 p-lr-15-md" align="center">
								<p class="stext-102 cl6" th:text="${product.content}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="flex-w flex-c-m m-tb-10">
					<button
						class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4  submit_btn"
						style="margin: 3%">
						<a style="color: black;"
							th:href='@{/auc/update(aucId=${auc.aucId})}'>수정</a>
					</button>
					<button
						class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4  submit_btn"
						style="margin: 3%">
						<a style="color: black;"
							th:href='@{/auc/delete(aucId=${auc.aucId})}'>삭제</a>
					</button>
				</div>

				<div class="flex-w flex-c-m m-tb-10" style="margin-top: -5%"
					th:if="${session.userId != null}">
					<button
						class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4"
						style="margin: 3%">
						<a style="color: black;"
							th:href='@{/alarm/create(aucId=${auc.aucId}, flag=2)}'
							onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;">알람
							생성</a>
					</button>

					<button
						class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4"
						style="margin: 3%">
						<a style="color: black;"
							th:href='@{/auc/alarm/list(aucId=${auc.aucId}, flag=2)}'
							onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;">알람
							목록</a>
					</button>
				</div>

				<!-- 여기서까지 알람  -->
			</div>
		</div>
	</section>



	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
			class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../static/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/slick/slick.min.js"></script>
	<script src="../../static/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script
		src="../../static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate : 'a', // the selector for gallery item
				type : 'image',
				gallery : {
					enabled : true
				},
				mainClass : 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../static/vendor/sweetalert/sweetalert.min.js"></script>
	<!--===============================================================================================-->
	<script
		src="../../static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="../../static/js/main.js"></script>
</body>
</html>