<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanado.dao.AucDAO">
	<sql id='aucColumns'>
		aucId,
		status,
		highestPrice,
		lowestPrice,
		highestUserId,
		participants,
		regDate,
		startDate,
		endDate,
		productId
	</sql>
	<insert id='createAuc' parameterType='com.yanado.dto.Auc'>
		<selectKey keyProperty='aucId' resultType='java.lang.String'
			order='BEFORE'>
			SELECT
			auc_seq.nextval From DUAL
		</selectKey>

		insert into auction(
		<include refid='aucColumns' />
		) values(
		#{aucId},#{status},#{highestPrice},#{lowestPrice},#{highestUserId},0,
		SYSDATE, #{startDate}, #{endDate}, #{productId})
	</insert>

	<delete id='deleteAuc' parameterType='string'>
		delete from auction where
		aucId=#{aucId}
	</delete>

	<update id="updateAuc" parameterType="com.yanado.dto.Auc">
		update auction
		set highestPrice
		= #{highestPrice}, highestUserId = #{highestUserId}, participants = #{participants}, status = #{status}, lowestPrice = #{lowestPrice},
		startDate = #{startDate}, endDate = #{endDate} where aucId = #{aucId}
	</update>

	<!-- 찾기 -->
	<select id="findAucByAucNo" parameterType="string" resultType="com.yanado.dto.Auc">
		select * from auction where aucId = #{aucId}
	</select>

	<select id="getAllAucList" resultType="com.yanado.dto.Auc">
		select * from auction
	</select>

	<select id="getAuc" parameterType="string" resultType="com.yanado.dto.Auc">
		select * from auction
		where aucId = #{aucId}
	</select>
	
	<select id="findProductByAuc" parameterType="string" resultType="com.yanado.dto.Product">
		select * from product where productId = #{productId}
	</select>
	
	<update id="changeStatus">
		update auction set status = #{status} where aucId = #{aucId}
	</update>
	
	<select id="getBuyerListByAucNo" parameterType="string" resultType="com.yanado.dto.User">
		select * from member where userId in (select userId from aucJoin where aucId = #{aucId})
	</select>
	
	<select id="getAucByUserId" parameterType="string" resultType="com.yanado.dto.Auc">
		select * from auction where userId = #{userId}
	</select>

</mapper>