<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanado.dao.AucDAO">
	<sql id='aucColumns'>
		aucNo,
		userId;
		status;
		highestPrice;
		mininumAmount;
		highestUserId;
		participants;
		payment;
		regDate,
		startDate,
		endDate,
		deadline
	</sql>
	<insert id='createAuc' parameterType='com.yanado.dto.Auc'>
		<selectKey keyProperty='aucNo'
			resultType='java.lang.String' order='BEFORE'>
			SELECT
			auc_seq.nextval From DUAL
		</selectKey>
		
		insert into auc (<include refid='aucColumns"/>) values(
			#{aucNo},#{userId},#{status},#{highestPrice},#{mininumAmout}0,#
	</insert>
</mapper>