<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanado.dao.CommonDAO">

	<select id="findProduct" parameterType="String"
		resultType="com.yanado.dto.Product">
		select * from product
		where
		productId = #{productId}
	</select>

	<!-- common table -->

	<sql id="commonColumns">
		commonId,
		userId,
		productId,
		participants,
		min,
		status,
		regDate,
		startDate,
		endDate,
		deadline
	</sql>

	<!-- sequence 이름 common_seq -->
	<!-- common 생성 -->
	<insert id="insertCommon" parameterType="com.yanado.dto.Common">
		<selectKey keyProperty="commonId"
			resultType="java.lang.String" order="BEFORE">
			SELECT
			common_seq.nextval From
			DUAL
		</selectKey>

		INSERT INTO common(
		<include refid="commonColumns" />
		) VALUES ( #{commonId}, #{userId}, #{productId}, 0, #{min}, #{status},
		SYSDATE,
		#{startDate}, #{endDate},
		#{deadline}
		)

	</insert>

	<!-- common 수정 -->
	<update id="updateCommon" parameterType="com.yanado.dto.Common">
		UPDATE common SET
		participants = #{participants}, min = #{min}, status = #{status},
		startDate = #{startDate}, endDate = #{endDate}, deadline = #{deadline}
		WHERE commonId = #{commonId}
	</update>

	<!-- common 삭제 -->
	<delete id="deleteCommonByCommonId" parameterType="String">
		DELETE FROM common WHERE
		commonId = #{commomId}
	</delete>


	<select id="findAllCommon" parameterType="int"
		resultType="com.yanado.dto.Common">
		<!-- select * from (select ROWNUM as RNUM, A.* FROM (select * from common 
			order by regDate desc ) A where ROWNUM <= (#{start} + 9) ) where RNUM >= 
			#{start} -->
		select * from common order by regDate desc
	</select>

	<select id="findCommonBySearch"
		parameterType="com.yanado.dto.Search"
		resultType="com.yanado.dto.Common">
		<!-- select * from (select ROWNUM as RNUM, A.* from (select * from common 
			where #{condition} like ‘%#{search}%’ order by regDate desc ) A where ROWNUM 
			<= #{end}) where RNUM >= #{start} -->

		select * from common order by regDate desc where where #{condition}
		like ‘%#{search}%’
	</select>

	<!-- common 읽기 -->
	<select id="findCommonByCommonId" parameterType="String"
		resultType="com.yanado.dto.Common">
		select * from common
		where
		commonId = #{commonId}
	</select>

	<select id="getCount" resultType="int">
		select count(*) from
		common
	</select>

	<update id="increaseJoin" parameterType="String">
		update common set
		participants = participants + 1 where commonId = #{commonId}
	</update>

	<update id="decreaseJoin" parameterType="String">
		update common set
		participants = participants - 1 where commonId = #{commonId}
	</update>

	<update id="changeStatus">
		update common set status = #{status} where commonId =
		#{commonId}
	</update>

	<!-- commonJoin table -->

	<sql id="commonJoinColumns">
		commonId,
		userId,
		payment
	</sql>

	<insert id="joinCommon"
		parameterType="com.yanado.dto.CommonJoin">
		insert into commonJoin(
		<include refid="commonJoinColumns" />
		) values ( #{commonId}, #{userId}, 0 )
	</insert>

	<delete id="cancelCommon"
		parameterType="com.yanado.dto.CommonJoin">
		delete from commonJoin
		where commonId = #{commonId} and
		userId = #{userId}
	</delete>

	<select id="findCommonJoin"
		parameterType="com.yanado.dto.CommonJoin" resultType="int">
		select count(*) from commonJoin where commonId = #{commonId} and userId = #{userId}
	</select>

	<select id="findAllCommonJoinByCommonId" parameterType="String"
		resultType="com.yanado.dto.CommonJoin">
		select * from commonJoin where commonId = #{commonId}
	</select>

	<select id="notPayment" parameterType="String"
		resultType="com.yanado.dto.CommonJoin">
		select * from commonJoin where commonId = #{commonId} and
		payment = 0;
	</select>

	<!-- MyPage 관련 -->
	<select id="findCommonByUserId" parameterType="String"
		resultType="com.yanado.dto.Common">
		select c.* from common c, commonJoin j where
		c.commonId=j.commonId and j.userId = #{userId}
	</select>

</mapper>