<?xml version="1.0" encoding="UTF-8"?>
<mapper namsepace="persistence.dao.FavoriteDAO">
	<!-- favorite table -->

	<sql id="favoriteColumns">
		userId,
		productId
	</sql>

	<!-- favorite 생성 -->
	<insert id="insertFavorite" parmeterType="service.dto.Favorite">
		INSERT INTO favorite(
		<include refid="favoriteColumns" />
		) VALUES ( #{userId}, #{productId} )
	</insert>
	
	<delete id="deleteFavorite" parmeterType="service.dto.Favorite">
		delete from favorite where userId = #{userId} and productId = #{productId}
	</delete>
	
	<!-- 유저가 누른 좋아요 목록  -->
	<select id="findUserIdListByFavorite" parmeterType="service.dto.Favorite" resultType="service.dto.Favorite" >
		select * from favorite where userId = #{userId]
	</select>

	<!-- 해당 유저와 비슷한 유저 찾기 -->	
	<select id="findSimilarListByUser" parmeterType="service.dto.UserDTO" resultType="service.dto.UserDTO" >
		select * from user where gender = #{gender} and 
	</select>
	
</mapper>