<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanado.dao.UserDAO">
	
	<select id="user_list" parameterType="String" resultType="com.yanado.dto.User">
		select * from member
	</select>
	
	<select id="getUserByUserId" parameterType="String" resultType="com.yanado.dto.User">
		select * from member where userId=#{userId}
	</select>
	
	<insert id="createUser" parameterType="com.yanado.dto.User">
		insert into member (userId, password, userName, 
			gender, birth, address, phoneNumber, email) values(
			#{userId},
			#{password},
			#{userName},
			#{gender},
			#{birth},
			#{address},
			#{phoneNumber},
			#{email}
			)
	</insert>
	
	<delete id="deleteUser" parameterType="string">
		delete from member where userId=#{userId}
	</delete>
	
	<update id="updateUSer" parameterType="com.yanado.dto.User">
		update user
		set password=#{password}, address=#{address}, phoneNumber=#{phoneNumber}, email=#{email}
		where userId=#{userId}
	</update>
</mapper>