<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <div>        
        <section>
                <div>
                    <article>
                        <div>
                            <h2>ajax 설명 입니다.</h2>
                            <dl>
                                <dt>성명</dt>
                                <dd>
                                    <input type="text"  id="name" value="홍길동"/>
                                </dd>
                            </dl>
                            <dl>
                                <dt>성병</dt>
                                <dd>
                                    <input type="text"  id="sex" value="남자"/>
                                </dd>
                            </dl>
                            <dl>
                                <dt>나이</dt>
                                <dd>
                                    <input type="text"  id="age" value="20"/>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전화번호</dt>
                                <dd>
                                    <input type="text"  id="tellPh" value="010-0000-0000"/>
                                </dd>
                            </dl>
                            <dl>
                                <dd>
                                    <input type="button" id="request" value="제출"/>
                                </dd>
                            </dl>
                            <br>
                            
                        </div>
                    </article>
                </div>
        </section>
    </div>
    
    <script>
        
    // 'request'라는 id를 가진 버튼 클릭 시 실행.
    $("#request").click(function(){
    	alert("hello")
 
            // json 형식으로 데이터 set
          /*   var params = {
                      name      : $("#name").val()
                    , sex       : $("#sex").val()
                    , age       : $("#age").val()
                    , tellPh    : $("#tellPh").val()
            }
                
            // ajax 통신
            $.ajax({
                type : "POST",            // HTTP method type(GET, POST) 형식이다.
                url : "/test/ajax",      // 컨트롤러에서 대기중인 URL 주소이다.
                data : params,            // Json 형식의 데이터이다.
                success : function(res){ // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                    // 응답코드 > 0000
                    alert(res.code);
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                    alert("통신 실패.")
                }
            });
        }); */
            
</script>
</body>
</html>